@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>The purpose of the Organizer application is to help solve the problem of keeping items organized in a way that is easier to manage. Since there are so many items to worry about in life, having organized lists for any need is really useful.
</p>
