@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Aaron's Place<br />
    Some where in Arizona<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Developer - Andrew:</strong> <a href="mailto:drewdatta@gmail.com">drewdatta@gmail.coma><br />
    <strong>Developer - Aaron:</strong> <a href="mailto:aaronmylius@aol.com">aaronmylius@aol.com</a>
</address>
